body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

/* 5. Style the image tag to have a width of 400px. */
img {
    width: 400px;
}


/* 6. Style the paragraph tag to have a font color of your choosing. */
p {
    color: gray;
}